* { 
	margin:0px; 
	padding:0px; 
}

#title {	
border-style:solid;
	position:absolute;
	left:270px;
	top:50px;
	height:50px;
	width:240px;
	padding:5px;
	background-color:lightgrey;
}

#currentWeather {
	position:absolute;
	left: 1380px;
	top:600px;
}

#buttoncontainer {
	position:absolute;
	left:600px;
	top:50px;
}

button {
	font-family: 'Lucida Console';
	font-size:16px;
	width:220px;
}

#maingamespace {
	position:absolute;
	left: 30px;
	top:30px;
	border-style:solid;
	height:700px;
	width:1530px;
}

#bgimg {
	position:absolute;
	left: 33px;
	top:33px;
}

#sunspace {
	position:absolute;
	left: 60px;
	top: 50px;
	border-style:none;
}

#dGuy {
	position:absolute;
	left: 800px;
	top: 400px;
	height: 300px;
	width: 215px;
}

#info {
	border-style:solid;
	background-color:lightgrey;
	position:absolute;
	left:1140px;
	top:400px;
	height:300px;
	width:390px;
	padding:5px;
}

#yearSeason, #cWeather {
	border-style:none;
}

.bigpic, .images {
	position: absolute;
	height: 400px;
	width: 200px;
}

.bigpic {
	top: 328px;
	border-style:solid;
	border-radius:50px;
	border-width:5px;
	border-left-style:none;
	border-right-style:none;
	border-bottom-style:none;
	
}

#dTulip {
	left: 100px;
	border-color:red;
}

#dTree {
	left: 305px;
}

#dEvergreen {
	left: 509px;
}

#questionPic{
	position: absolute;
	height: 50px;
	width: 50px;
	top: 50px;
	left: 1500px;	
}

#exitPic{
	position: absolute;
	height: 50px;
	width: 50px;
	top: 105px;
	left: 1500px;
}

#closeSS {
	position:absolute;
	height: 50px;
	width: 50px;
	left: 895px;
	top: 60px;
	display:none;
}
#hsscreen {
	position:absolute;
	height: 300px;
	width: 400px;
	left: 550px;
	top: 50px;
	font-family: 'Lucida Console';
	background-color:lightgrey;
	border-style:solid;
	border-radius:30px;
	display:none;
}
#HSHeader {
	position:relative;
	left: 75px;
	padding-top: 20px;
	padding-bottom: 30px;
}

#scorescreen {
	position:relative;
	left: 60px;
}